{% extends 'base.html.twig' %}

{% block title %}Editer le service{% endblock %}

{% block main %}
    <h1>Editer le service</h1>
    {{ include('service/_form.html.twig', {'button_label': 'Mise à jour'}) }}
{% endblock %}
