<form method="post" action="{{ path('rendez_vous_delete', {'id': rendez_vou.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce rendez-vous {{ rendez_vou.titre }}?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ rendez_vou.id) }}">
    <button class="btn btn-secondary btn-sm text-danger" type="submit">Supprimer</button>
</form>
