{% extends 'base.html.twig' %}

{% block title %}Nouveau Rendez-Vous{% endblock %}

{% block main %}
    <h1>Créer un Rendez-Vous</h1>

    {{ include('rendez_vous/_form.html.twig') }}

{% endblock %}

{% block javascripts2 %}
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.js-datepicker').datepicker({
                format: 'dd-mm-yyyy'
            });
        });
    </script>
{% endblock %}
