{% extends 'base.html.twig' %}
{% block title %}Nouveau(elle) Consultant(e){% endblock %}
{% block main %}
    <h3 class="mb-5">Créer un(e) nouveau(elle) consultant(e)</h3>
    {{ include('consultant/_form.html.twig') }}
{% endblock %}