{% extends 'base.html.twig' %}

{% block title %}Editer type de paiement{% endblock %}

{% block main %}
    <h1>Editer type de paiement</h1>
    {{ include('type_de_paiement/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
{% endblock %}
