{% extends 'base.html.twig' %}

{% block title %}Nouveau type de paiement{% endblock %}

{% block main %}
    <h1>Créer un nouveau type de paiement</h1>
    {{ include('type_de_paiement/_form.html.twig') }}
{% endblock %}
